<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">

    <!--表名 -->
    <sql id="tableName">
		cart
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		 cartid,
         goodsid,
         weightnumber,
         price
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		 #{cartid},
         #{goodsid},
         #{weightnumber},
         #{price}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 菜品列表 -->
    <select id="datalistPage" parameterType="pd" resultType="pd">
        SELECT c.goodsid,f.foodname,c.price,c.weightnumber,f.cleanfoodprice AS foodprice FROM cart c
        INNER JOIN food f ON c.goodsid = f.foodid
    </select>

    <!--根据物品Id查询 -->
    <select id="findByGoodsId" parameterType="pd" resultType="pd">
		SELECT
        <include refid="Field"></include>
		FROM
        <include refid="tableName"></include>
		WHERE goodsid = #{goodsid}
	</select>
    <!-- 修改 -->
    <update id="editByGoodsId" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        weightnumber = #{weightnumber},
        price = #{price}
        where
        goodsid = #{goodsid}
    </update>
    <!-- 删除-->
    <delete id="deleteGoods" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        goodsid = #{goodsid}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        APPNEWS_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>